Bill.css

  /* custom-button.css */
.custom-button {
  border: none !important;
  color: #6A0DAD 
}


/* Định nghĩa các lớp CSS cho các cột */
.custom-table .ant-table-thead th.ant-table-cell {
    background-color: #74b9ff; /* Màu nền của tiêu đề cột */
    color: #1a1a1a; /* Màu chữ của tiêu đề cột */
    font-weight: bold; /* Độ đậm của chữ */
    text-align: center; /* Căn giữa nội dung */
    padding: 12px; /* Khoảng cách lề bên trong */
    border-bottom: 1px solid #ddd; /* Đường viền dưới */
  }
  
  /* Định nghĩa các lớp CSS cho bảng */
  .custom-table {
    background-color: #f0f0f0; /* Màu nền */
    border: 1px solid #ddd; /* Viền */
    border-radius: 8px; /* Bo góc */
    padding: 10px; /* Khoảng cách nội bộ */
  }

  
  .custom-icon {
    color: #ff9900; /* Màu của icon */
  }

  
  .Timeline-wrapper-1 {
    position: relative;
    overflow: auto !important;
    width: 98%;
  }


  .table-body td {
    padding: 8px;
  }
  
  .bill-history {
    margin: 20px 0;
  }
  
  .bill-history-descriptions {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .bill-history-item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }
  
  .bill-history-descriptions .ant-descriptions-item-label {
    font-weight: bold;
    font-size: 16px;
  }
  
  .bill-history-descriptions .ant-descriptions-item-content {
    color: #333;
  }
  
  .bill-history-modal .ant-modal-title {
    text-align: center;
  }  
  

  /* Đây là css của changeBill */
  .order-details-container, .customer-details-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }
  
  .order-section-title, .customer-section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1e272e;
    background: #c8d6e5;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  .order-descriptions, .customer-descriptions {
    background-color: #fff;
    border-radius: 8px;
  }
  
  .order-descriptions .ant-descriptions-item-label, .customer-descriptions .ant-descriptions-item-label {
    font-weight: bold;
  }
  
  .order-descriptions .ant-descriptions-item-content, .customer-descriptions .ant-descriptions-item-content {
    color: #333;
  }
  
  .order-descriptions .ant-descriptions-item, .customer-descriptions .ant-descriptions-item {
    padding: 12px;
  }
  

  .highlight-container {
  background-color: #f8f9fa; /* Màu nền sáng hơn */
  padding: 10px; /* Khoảng đệm xung quanh */
  border-radius: 5px; /* Bo góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng */
}



.ml-auto {
  margin-left: auto;
}
