.navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
    /* Màu chữ mặc định */
    transition: color 0.2s ease-in-out;
    /* Hiệu ứng chuyển đổi màu chữ */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #6A0DAD;
    /* Màu chữ khi hover */
}

.navbar-nav .nav-item .nested-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    /* Optional styling for nested nav */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional box shadow */
    z-index: 1000;
    /* Ensure it overlays other content */
}
.navbar-nav .nav-item .nested-nav ul {
    list-style-type: none;
  }

/* Show nested nav on hover */
.navbar-nav .nav-item:hover .nested-nav {
    display: block;
}

.dropdown-menu {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 4px;
}

.navbar-nav .nav-item {
    position: relative;
}


/*  */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Căn giữa theo chiều cao */
    padding: 10px;
}

.logo-container img {
    width: 80px; /* Kích thước logo vừa phải */
   
}


/* Menu.css */
.menu-links {
    flex: 1; /* This makes sure the menu items take the available space */
}

.search {
    flex: 0 0 auto; /* This keeps the search bar from stretching */
    margin-left: 20px; /* Add space between menu and search bar */
}

.navbar-nav {
    display: flex;
    justify-content: flex-start; /* Align menu items to the left */
}

.nav-item {
    margin: 0 15px;
}

.search-input {
    border-radius: 20px;
    width: 500px;
    height: 44px;
}

.menuItem{
    padding-top: 10px;
    padding-bottom: 7px;
}