<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    p {
      margin: 2px;
    }

    .table {
      border-collapse: collapse;
      width: 100%;
    }

    .th, .td {
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }

    .th {
      background-color: #ccc;
    }
  </style>
</head>
<body>
<div class="" style="display: flex; justify-content: center;">
  <div class="" style="">
    <div class="" style="display: flex; justify-content: center;font-weight: bold; font-size: 40px">
      Berry Store
    </div>
    <div class="" style="margin-top: 16px; text-align: center">
      <p>
        Chương trình Phổ thông Cao đẳng FPT Polytechnic, Phương Canh, Từ Liêm, Hà Nội, Việt Nam
      </p>
    </div>
    <div class="" style="margin-top: 5px; text-align: center">
      <p>
        SDT: 0972129648
      </p>
    </div>
    <div class="" style="margin-top: 30px;display: flex; justify-content: center">
      <p th:text="${'Mã hóa đơn: '+ invoice.code}"></p>
      <p style="margin-left: 30px" th:text="${ invoice.date}"></p>
      <img style="position: absolute;top: 1px;right: 1px; width: 90px; height: 90px" th:src="${invoice.qr}" alt="QR Code">
    </div>
  </div>
</div>
<div class=""
     style="padding: 20px 10px;border-top-style: dashed; border-width: 1px; border-color: rgb(0, 0, 0);">
  <div class="">
    <div class="" style="margin-left: 20px; ">
      <p th:text="${'Khách hàng: ' + ((invoice.recipientName == null || invoice.userName == '') ? 'Khách lẻ' : invoice.userName)}"></p>
      <p th:text="${'Số điện thoại: '+((invoice.phoneNumber == null || invoice.phoneNumber == '') ? '' : invoice.phoneNumber )}"></p>
      <p th:text="${'Địa chỉ: '+ ((invoice.address == null || invoice.address == '') ? '--' :  invoice.address)}"></p>
    </div>
  </div>
</div>
<div style="padding: 20px 10px;border-top-style: dashed; border-width: 1px; border-color: rgb(0, 0, 0);">
  <div class="" style="margin-right: 20px;">
    <p style="font-size: 18px; font-weight: 800; margin-bottom: 30px">Nội dung đơn hàng <span
            style="font-size: 16px; font-width: 500;"
            th:text="${'( Tổng số lượng sản phẩm '+invoice.quantity + ' )'}"></span></p>
    <table class="table " style="width: 100%">
      <thead>
      <td class="th"><strong>Stt</strong></td>
      <td class="th"><strong>Tên</strong></td>
      <td class="th"><strong>Giá</strong></td>
      <td class="th"><strong>Số lương</strong></td>
      <td class="th"><strong>Tổng</strong></td>
      </thead>
      <tbody>
      <th:block th:each="item,index : ${invoice.items}">
        <tr>
          <td class="td" th:text="${index.index  + 1}">BS-200</td>
          <td class="td" th:text="${item.name}">BS-200</td>
          <td class="td" >
                            <span th:if="item.priceBeforePromotion == null" style="font-size:12px ;margin-top: 2px">
                            <del th:text="${item.priceBeforePromotion }">
                            </del>
                            </span>
            <span th:text="${item.priceVn }">
                            </span>
          </td>
          <td class="td" th:text="${item.quantity }">1</td>
          <td class="td" th:text="${item.sum}">$10.99</td>
        </tr>
      </th:block>
      </tbody>
    </table>
    <table>
      <tbody>
      <tr>
        <td class="thick-line " s><strong>Tổng Tiền hàng:</strong></td>
        <td class="thick-line text-end" float="right"  th:text="${invoice.totalMoney}"></td>
      </tr>
      <tr>
        <td class="border-0 " ><strong>Giảm giá:</strong></td>
        <td class="border-0no-line text-end" float="right" th:text="${invoice.itemDiscount}">ádsadasd</td>
      </tr>
      <tr th:if="${invoice.checkShip}">
        <td class="border-0 " ><strong>Phí Ship:</strong></td>
        <td class="border-0no-line text-end" float="right" th:text="${invoice.ship}"></td>
      </tr>
      <tr>
        <td class="border-0 "><strong>Tổng thanh toán:</strong></td>
        <td class="border-0  text-end" float="right"  th:text="${(invoice.totalBill)}">
        </td>
      </tr>
      <tr style="margin-top: 5px">
        <td class="border-0"></td>
        <td class="border-0 text-end" float="right" ><strong  th:text="${'Tổng số lượng sản phẩm: '+invoice.quantity + ' '}"></strong></td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div style="padding: 20px 10px;border-top-style: dashed; border-width: 1px; border-color: rgb(0, 0, 0);">
  <div class="" style="margin-right: 20px; margin-bottom: 50px">
    <table class="table table-condensed" style="width: 100%">
      <thead>
      </thead>
      <tbody>
      <th:block th:each="item,idex : ${invoice.paymentsMethodRequests}">
        <tr>
          <td th:text="${idex.index  + 1}"></td>
          <td class="text-center" th:text="${item.method}"></td>
          <td th:text="${item.total}" float="right"></td>
          <td class="text-center" th:text="${item.status}"></td>
          <td class="text-center" float="right" th:text="${item.vnp_TransactionNo}"></td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
  <div class="" style="display: flex; justify-content: space-between" >
    <table class="table table-condensed" style="width: 100%">
      <thead>
      </thead>
      <tbody>
      <tr>
        <td  float="right">Tổng thanh toán:</td>
        <td class="text-center" float="right" th:text="${invoice.totalPayment}"></td>
      </tr>
      <tr>
        <td  float="right">Tiền trả:</td>
        <td class="text-center" float="right" th:text="${invoice.change}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="font-size: 18px;margin-top: 20px; font-weight: 700; text-align: center; width: 100%">Cám ơn quý khách đã sử dụng dịch vụ của Berry Store</div>
  <div >
    <div class="" style="text-align: center; width: 100%">Quý khách xem thông tin chi tiết đơn hàng </div></br>
    <div class="" style="text-align: center; width: 100%">
      <button style="    background-color: #e4641a;
    border: none;
    border-radius: 6px;
    padding: 5px 22px;"> <a th:href="${url}" style="text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;">Tại đây</a></button>
    </div>
  </div>
</div>
</body>
</html>
