/* GHN.css */
.ghn-container {
    background-color: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ghn-container .ant-form-item {
    margin-bottom: 16px;
  }
  