.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* Đảm bảo chiều cao của ảnh khớp với chiều cao của carousel */
}

.image-container img {
    width: 100%;
    /* Chiều rộng 100% để ảnh vừa với container */
    height: 100%;
    /* Chiều cao 100% để ảnh vừa với container */
    object-fit: cover;
    /* Đảm bảo ảnh không bị biến dạng */
}

.discount-badge {
    position: absolute;
    top: 1px;
    /* Điều chỉnh vị trí của thẻ giảm giá */
    right: 1px;
    /* Điều chỉnh vị trí của thẻ giảm giá */
    background-color: rgba(255, 0, 0, 0.7);
    /* Nền màu đỏ với độ trong suốt */
    color: white;
    /* Màu chữ trắng */
    padding: 1px 1px;
    /* Thêm khoảng đệm cho thẻ giảm giá */
    border-radius: 5px;
    /* Bo tròn các góc */
    font-weight: bold;
    /* Làm cho chữ đậm */
}