.bill-notification {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .notification-item {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
  }
  
  .notification-time {
    font-size: 12px;
    color: #999;
  }
  
  .view-all {
    padding: 10px;
    cursor: pointer;
  }
  
  .notification-dropdown {
    min-width: 300px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .ant-list-items {
    padding: 10px;
  }
  
  .notification-list {
    margin-top: 10px;
  }
/* CSS cho hover */
.hover-effect:hover {
    background-color: #7f7f7f; /* Thay đổi màu nền khi hover */
  }
  